.teamPage {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    
}

.content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.intro {
    width: 100%;
    margin-top: 50px;
}

.intro h1 {

}

.fermersPhoto {
    width: 100%;
    background-image: url('https://csk-smolensk.ru/files/308/1619161633_49-phonoteka_o.jpg');
}

.article {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

}

.half {
    width: 50%;
    padding: 5%;
}


.card {
    width: 70%;
    font-size: medium;
}

.empPhoto {
    width: 50%;
    border-radius: 50%;
}