
.header {
    color :azure;
    background-color: #0056b3;
    height: 100px;

}

.logo {
    margin-top: -19px;
    height: 90px;
}


.navList{
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;

    font-size: large;
    font-weight: 500;
}

.navList li{
    height: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
