
.header {
    color :azure;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    background-color: #0056b3;
    height: 100px;
}


.navList{
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    font-size: large;
    font-weight: 500;
}

.navList li{
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
